html
{
    background: linear-gradient(0deg, #DDDDDD 0%, #EEEEEE 2%, #FFFFFF 8%, #FFFFFF 92%, #EEEEEE 98%, #DDDDDD 100%);
    padding: 0px 0px;
}

a
{
    color: blue;
}

a:visited
{
    color: purple;
}

header, body, section, footer, #main_header, nav, article
{
    padding: 5px 20px;
    margin: 10px;
}

section
{
    border-bottom: 4px solid #EEEEEE;
    border-bottom-style: ridge;
    border-top: 4px solid #EEEEEE;
    border-top-style: groove;
    box-shadow: 0px 0px 5px rgb(192, 192, 224);
    background: white;
}

h1, h2, h3, .p_footer
{
    text-align: center;
}

h2
{
    color: #404040;
}

h3
{
    color: #606060;
}

nav, #main_header
{
    background: #DDDDDD;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgb(128, 128, 128);
}

nav
{
    padding: 20px;
}

iframe
{
    width: 100%;
    min-height: 500px;
}

img
{
    border: 3px solid rgb(224, 224, 224);
}

/* Custom Classes */
.code_container
{
    padding: 5px;
    border: 2px #D0D0D0 solid;
    background: rgb(240, 240, 240);
    color: #707070;
}

.nav_link
{
    margin: 0px 10px 0px 0px;
    padding: 6px 12px;
    background: rgb(180, 180, 180);
    border: 1px #808080 solid;
    border-radius: 2px;
}

.nav_link:hover
{
    background: rgb(192, 224, 255);
}

/* Custom IDs */